.mb20{
    margin-bottom: 20px;
}

.bg-color-high {
    background-color: #ff6347;
}

.bg-color-medium {
    background-color: #00ff00;
}

.bg-color-low {
    background-color: #00ffff;
}

.circle {
    color: #fff;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}
