.topmsg h1{
  margin:30px;
  font-size:20px;
}

.form-group{
  margin:25px 0px;
}

.form-group label{
  font-weight:normal;
}


.inputBtn {
  margin:40px;
  color:white;
  border-style: none;
  background-color:#73B87B;
  padding:5px 150px;
}

.text{
  margin:25px 0px;
}

.allText{
  margin:25px 0px;
}

.backbtn{
  display:inline-block;
  margin:5px;
  color:white;
  border-style: none;
  background-color:#A5A3A3;
  padding:5px 30px;
}

.sentbtn{
  display:inline-block;
  margin:130px 5px;
  color:white;
  border-style: none;
  background-color:#73B87B;
  padding:5px 30px;
}

.thanxsMsg{
  margin:50px 0px 150px;
}
